.section--category {
    max-width: 1800px;

    @include respond(tab-port) {
        padding: 0 5rem;
    }

    @include respond(tab-land) {
        padding: 0 3rem;
    }
}

.category {
    &__heading {
        text-align: left;
        margin-left: 0;
        margin-bottom: 4rem;
        flex: 0 0 100%;
        order: -1;
        max-width: 75%;

        @include respond(tab-port) {
            text-align: center;
            margin: 0 auto;
            flex: 0 0 60%;
        }

        @include respond(desk-small) {
            order: 0;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0 4rem;

        @include respond(desk-small) {
            padding: 6rem 0 4rem;
        }

        &--1,
        &--2 {
            flex: 0 0 100%;
            text-align: center;
            margin: 1rem auto 0;

            @include respond(desk-small) {
                flex: 0 1 20%;
                margin: 0;
            }
        }


        &--1 {
            @include respond(desk-small) {
                text-align: left;
            }
        }

        &--2 {
            @include respond(desk-small) {
                text-align: right;
            }   
        }
    }

    &__button {
        font-size: 1.6rem;
    }

    &__arrow {
        width: 1.6rem;
        height: 1.4rem;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @supports (display: grid) and (grid-template-columns: repeat(auto-fit, minmax(300px , 1fr))) and (grid-auto-rows: 300px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
            grid-auto-rows: 300px;
            grid-gap: 10rem 2rem;
        }

        @include respond(desk-small) {
            grid-auto-rows: 350px;
            grid-gap: 9rem 2rem;
        }
    }

    &__option {
        flex: 0 0 100%;
        margin: 5rem 1rem;
        height: 350px;
        position: relative;

        @include respond(tab-land) {
            flex: 0 0 45%;
            margin: 4rem 1rem;
        }

        @include respond(desk-small) {
            flex: 0 0 22%;
        }

        @supports (display: grid) {
            height: auto;
            margin: 0;
        }

        & > picture {
            display: inline;

            & > img {
                width: 100%;
                height: 100%;
                display: block;

                &:hover {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    &__number {
        font-size: 2.4rem;
        font-weight: 400;
        text-align: center;
        color: $color-text-on-white;
        padding: .5rem 2rem;
        font-family: $font-family-secondary;
    }
}

.catalog__contact {
    margin: 10rem 0 6rem;
    text-align: center;

    & > h3 {
        font-family: $font-family-secondary;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
    }

    &-cta {
        font-weight: 400;
    }
}

.bestSeller::before {
    content: "TOP SELLER!";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    background-color: rgba($color-primary, .6);
    box-shadow: 0 1rem 3rem rgba(0,0,0, .2);
    line-height: 1;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 3000;
}