// UTILITY CLASSES
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-center {
    align-items: center !important;
    justify-content: center !important;
}