.staticrypt {
  &-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  &-page {
    width: 360px;
    max-width: 100%;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
  }

  &-form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  &-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  &-form input:last-child {
    margin: 0;
  }

  &-form &-decrypt-button {
    text-transform: uppercase;
    outline: 0;
    background: rgba(228, 154, 153, 0.85);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
  }

  &-form &-decrypt-button:hover,
  &-form &-decrypt-button:active,
  &-form &-decrypt-button:focus {
    background: rgba(228, 154, 153, 0.7);
  }

  &-html {
    height: 100%;
  }

  &-body {
    margin-bottom: 1em;
    background: rgba(228, 154, 153, 0.33);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgba(228, 154, 153, 0.73), rgba(228, 154, 153, 1));
    background: -moz-linear-gradient(right, rgba(228, 154, 153, 0.73), rgba(228, 154, 153, 1));
    background: -o-linear-gradient(right, rgba(228, 154, 153, 0.73), rgba(228, 154, 153, 1));
    background: linear-gradient(to left, rgba(228, 154, 153, 0.73), rgba(228, 154, 153, 1));
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &-instructions {
    margin-top: -1em;
    margin-bottom: 1em;
  }

  &-title {
    font-size: 1.5em;
    font-weight: 300;
  }

  &-footer {
    position: fixed;
    height: 20px;
    font-size: 16px;
    padding: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }

  &-footer p {
    margin: 2px;
    text-align: center;
    float: right;
  }

  &-footer a {
    text-decoration: none;
  }
}
